* {
    padding: 0px;
    margin: 0px;
    
}

.logo {
    width: 30px;
    height: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);

html, body{
  height: 100%;
}

body {
    font-family: "Ubuntu", sans-serif;
    color: $main-text;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.navigationBar {
    background-color: $main-back;
    color: $secundary-text;
    margin-top: 5px;
}

    


.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: $secundary-text;
   

}




.navbar-brand {

    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 3em;
    animation: none;

}

.navbar-brand a {
    color: $secundary-text;
    text-decoration: none;
}


.navbar-brand a:hover {
    color: $main-text;
    font-style: oblique;
}



.navbar li {
    
    font-weight: 120;
    text-transform: capitalize;
}


.nav-link{
    color: $secundary-text;
}

.nav-link a{
    color: $secundary-text;
}

.navbar ul li:hover {
    border-radius: 10px;
    background-color: $main-text;
}

.navbar-toggler {
    
    color: $secundary-text;
}

.navbar-toggler-icon{
    color: $secundary-text;
}







#splash {
    background-image: url(../images/container1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0px;
    color: $main-text;
    font-size: 3em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.5),
        0px 18px 23px rgba(0, 0, 0, 0.1);
        p{
            color: $secundary-text;
            a{
                color: $main-text;
                
            }
        }
}

@media (max-height: 495px) {
    #splash {

        height: 100%;
    }
}

#splash h1 {
    font-size: 2em;
}

#splash a {
    color: #fff;
}

.row {
    padding-top: 100px;
}

#splash a:hover {
    color: $secundary-text;
}

#portfolio {

    background-image: url(../images/portfolio_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;


    color: $main-text;
}

.carousel-content {

    width: 600px;
    height: 400px;
    text-decoration-color: #1f1f31;

}













#portfolio h1 {
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.5),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    position: relative;
}

.thumbnail img {
    min-height: 250px;
    min-width: 300px;
}

.thumbnail-hover {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 99%;
    width: 99%;
    opacity: 0;
    transition: 2s;
}

.thumbnail-hover:hover {
    top: 2px;
    left: 2px;
    position: absolute;
    height: 99%;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    transition: .5s;
    opacity: 1;
    padding-top: 30%;
    border-radius: 5px;
}

.thumbnail-hover i {
    text-decoration: none;
    color: white;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#about {

    background-image: url(../images/sobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0px;
    
    color: $main-text;

}



.card-content {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    padding-top: 2px;
    margin-bottom: 2px;
    padding-top: 15px;
}

.download{
    padding-top: 8px;
}






#about h1 {
    margin-bottom: 15px;
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.5),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

#about p {
    font-size: 1em;
    text-align: justify;
    color: $secundary-text;
}

#about img {
    width: 35%;
    border-radius: 79% 21% 24% 76% / 30% 47% 53% 70%
        /*max-width: 180px;*/
}

@media (max-height: 495px) {
    #about {

        height: 100%;
    }
}





#contact {
    background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: 0px;
   padding-top: 0%;
    padding-bottom: 0px;
    
    color: $main-text;
}

#contact h1 {
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.5),
        0px 18px 23px rgba(0, 0, 0, 0.1);
        padding-bottom: 2px;
    
}

#contact h2 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.5),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

#contact address {
    font-size: 1.5em;
    color: $secundary-text;
    font-weight: bold;
}

#contact .fa-stack {
    color: $main-text;
}

#contact  .fa-stack-1x {
    color: $secundary-text;

}


#contact .fa-stack:hover .fa-stack-1x {
    color: $main-text;
    transition: 0.5s;
}

#contact .fa-stack:hover .fa-stack-2x {
    color: $secundary-text;
    transition: 0.5s;
}

#contact a {
    text-decoration: none;
}

@media (max-height: 770px){
    .social-container{
        display: grid;
        grid-template-columns: 20%;
    }
    
}

@media (max-width: 770px) {
    #contact{
        height: 100%;
    }
}

#footer{
    background-color: $main-back;
    color: $secundary-text;
    
}

#copyright{
    background-color: $main-text;
}


